<!DOCTYPE HTML>
<html>
<head>
    <title>@ViewData["Title"] - My Razor App</title>
</head>
<body>
    <header>
        <partial name="Shared/NavMenuPartial" />
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>