@page
@model MyRazorApp.Pages.IndexModel
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>

</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Categorie</td>
                    <td>Price</td>
                </tr>
            </thead>
            <tbody>
                @foreach(var category in Model.Categories)
                {
                    <tr>
                        <td>@category.Id</td>
                        <td>@category.Title</td>
                        <td>@category.Price</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>